body {
	background-color: #801515;
	color: white;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.center {
	text-align: center;
}

/* introduction section with picture and name */
div.intro {
	float: left;
	width: 20%;
	border: solid;
}

/* picture of Michael Ward */
img.portrait {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-top: 10%;
}

h3.name {
	width: 90%;
	margin-left: 5%;
	text-align: center; 
}

div.project-info {
	font-size: 10pt;
	margin-bottom: 10%;
}

h3.project-info {
	text-align: left;
	margin-left: 5%;
}

form {
	width: 70%;
	float: right;
}


/* section for options only used for simple MVA */
div.mva-simple {
	border: solid;
	float: left;
	width: 24%;
	margin-left: 20%;
	height: 25%;
	min-height: 220px;
}

/* section for options only used for exponential MVA */
div.mva-exponential {
	border: solid;
	float: left;
	width: 24%;
	display: none;
}

/* section for options only used for mean reversion */
div.mean-reversion {
	border: solid;
	float: left;
	width: 24%;
	height: 25%;
	min-height: 220px;
}

/* section for options only used for pairs trading */
div.pairs-trading {
	border: solid;
	float: left;
	width: 24%;
	height: 25%;
	min-height: 220px;
}

div.pairs-radio {
	margin-left: 10%;
	display: inline-block;
}

/* section for options used by all strategies */
div.all {
	border: solid;
	width: 60.45%;
	margin-left: 20%;
	text-align: center;
}
div.graphs {
	width: 100%;
	text-align: center;
	margin-top: 10%;
	clear: both;
}

input[type=text] {
    border: 4px solid #4CAF50;
    border-radius: 4px;
    width: 5%;
    min-width: 50px;
}

input[type=text]:hover {
	border: 4px solid orange;
    background-color: lightblue;
}

input[type=text]:focus {
	border: 4px solid red;
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: orange;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    background-color: red;
}

input.pairs-button {
	margin-left: 10%;
	margin-top: -20%;
}

input.simple-mva_button {
	margin-right: 10%;
	margin-top: 17%;
	float: right;
}