<html>
<head>
	<title>Capstone</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<h1>Honors Capstone</h1>
	<h3>Mike Ward</h3>
  <!-- full form -->
	<form method="post">

    <!-- section for simple moving average crossover -->
    <div class="mva-simple">
      <h2 class="center">Simple Moving Average Crossover</h2>
		<label for="mva_days">MVA</label>
        <input type="text" value="{{ mva_days }}" name="mva_days"/>
        days
        <br/>
        <input type="submit" name="run_mva" value="Run MVA"/>
    </div>

    <!-- section for exponential moving average crossover -->
    <div class="mva-exponential">
      <h2 class="center">Expoential Moving Average Crossover</h2>
      <p class="center">Not implemented yet</p>
    </div>

    <!-- section for mean reversion -->
    <div class="mean-reversion">
      <h2 class="center">Mean Reversion</h2>
      <p class="center">Not implemented yet</p>
    </div>

    <!-- section for pairs trading -->
    <div class="pairs-trading">
      <h2 class="center">Pairs Trading</h2>
      <input type="text" value="{{ pairs_mva }}" name="pairs_mva"/>
        days
      <br/>
      <input type="submit" name="run_pairs" value="Run Pairs"/>
    </div>

    <div class="all">
        <label for="cash">Starting Cash</label>
        <input type="text" value="{{ cash }}" name="cash"/>
        <br/>
        <input type="radio" name="currency" id="btc" value="BTC" {{ btc_checked }}>
        <label for="btc">Bitcoin</label>
  		<br>
  		<input type="radio" name="currency" id="eth" value="ETH" {{ eth_checked }}>
  		<label for="eth">Ethereum</label>
  		<br>
  		<input type="radio" name="currency" id="ltc" value="LTC" {{ ltc_checked }}>
  		<label for="ltc">Litecoin</label>
  		<br>
      <input type="radio" name="currency" id="bch" value="BCH" {{ bch_checked }}>
      <label for="ltc">Bitcoin Cash</label>
      <br>
      <input type="radio" name="currency" id="xrp" value="XRP" {{ xrp_checked }}>
      <label for="ltc">Ripple</label>
      <br>
    </div>
        </form>
	<p>{{ text }}</p>

  <!-- upper graph -->
  <div class="top-graph" style="display: {{mva_display}};">
	   <h2 class="top-graph" style="text-align: center;">Price and Moving Average</h2>
     <div id="chart" style="height: 50%;"></div>
  </div>

  <!-- lower graph -->
  <div class="lower-graph" style="display: {{mva_display}};">
    <h2 class="top-graph" style="text-align: center;">Algorithm vs. Holding</h2>
    <div id="chart2" style="height: 50%;display: {{mva_display}}"></div>
  </div>
  <script>
      var price_line = {
      	x: {{ price_data_x }},
      	y: {{ price_data_y }},
      	type: 'scatter',
		name: 'price'
      };
      var mva_line = {
      	x: {{ mva_data_x }},
      	y: {{ mva_data_y }},
      	type: 'scatter',
		name: 'moving average'
      };
      var data = [price_line, mva_line];
      var layout = {
      xaxis: {
        range: [0, 5]
      },
      yaxis: {
        range: [0, 20]
        }
      };
      Plotly.newPlot('chart', data);
      var price_line = {
        x: {{ price_data_x }},
        y: {{ hold_data_y }},
        type: 'scatter',
    name: 'holding'
      };
      var algo_line = {
        x: {{ price_data_x }},
        y: {{ algo_data_y }},
        type: 'scatter',
    name: 'algorithm'
      };
      var data = [price_line, algo_line];
      var layout = {
      xaxis: {
        range: [0, 5]
      },
      yaxis: {
        range: [0, 20]
        }
      };
      Plotly.newPlot('chart2', data);
      </script>
</html>